.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    background: lightgray;
    border: 1px solid black;
    left: 0;
    top: 0;
}

.sidebarLink {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    width: 100px;
    background: cyan;
    border: 1px solid black;
    display: block;
}

.sidebarAbout {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: cyan;
    width: 100px;
    display: block;
    border: 1px solid black;
}

.mainDisplay {
    margin-left: 100px;
    padding-left: 5px;
}

.profileTitle {
    font-weight: bold;
    font-size: 24px;
}

.profileText {
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.profileElement {
    padding-top: 5px;
    padding-bottom: 5px;
}